$titleSize: 1.5em;
$titleFont: Ferrum;

div.charContainer {
  .charHeader {
    .charText {
      font-family: $titleFont;
      font-size: $titleSize;
      .charName {
        border: none;
        font-family: $titleFont;
        font-size: $titleSize;
      }
      .charLevel {
        border: none;
        font-family: $titleFont;
        font-size: $titleSize;
        padding: 8px 16px;
      }
    }
  }
  div.charBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div.stats {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: 0.5s smooth;
      div.abilityScores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .abilityScore {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 1em;
          margin-right: 0.5em;
          margin-left: 0.5em;
          .abilitySpan {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px black solid;
            border-radius: 1em;
            max-width: fit-content;
            padding: 1em;
            .abilityName {
              max-width: fit-content;
              padding: 0.5em;
              border: 1px black solid;
              border-radius: 35%;
              margin-top: -2.25em;
              background-color: white;
              font-family: SpaceAst;
            }
            .abilitySelector {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              font-family: FantArt;
              select {
                font-family: FantArt;
              }
            }
            .abilityMod {
              margin-top: 0.5em;
              margin-bottom: 0.5em;
              font-size: 1.5em;
              font-family: FantArt;
            }
            .attrBonus {
              margin: 0;
            }
            .abilityValue {
              margin-bottom: -2.25em;
              background-color: white;
              max-width: fit-content;
              padding: 0.5em;
              border: 1px black solid;
              border-radius: 35%;
              font-family: Ferrum;
            }
          }
        }
      }
      div.proficiencies {
        display: flex;
        h3 {
          font-family: BlackCastle;
        }
        .skill h4 {
          margin-top: 0.5em;
          margin-bottom: 0;
          padding: 0.5em;
        }
      }
    }
    div.feats_traits {
      max-width: 50vw;
      justify-content: center;
      text-align: center;
      text-justify: center;
      div.basic_info {
        display: flex;
        flex-direction: row;
        margin: 0.5em 1em;
        .abilitySpan {
          margin: 0.5em 0.25em;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px black solid;
          border-radius: 1em;
          max-width: fit-content;
          padding: 1em;
          .abilityName {
            max-width: fit-content;
            padding: 0.5em;
            border: 1px black solid;
            border-radius: 35%;
            margin-top: -2.25em;
            background-color: white;
            font-family: SpaceAst;
          }
          .abilityMod {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-size: 1.5em;
            font-family: FantArt;
          }
          .abilityValue {
            margin-bottom: -2.25em;
            background-color: white;
            max-width: fit-content;
            padding: 0.5em;
            border: 1px black solid;
            border-radius: 35%;
            font-family: FantArt;
          }
        }
      }
      div {
        h3 {
          font-family: Trickster;
        }
      }
    }
  }
}
