@font-face {
  font-family: AliceInWonderland;
  src: url("../public//fonts/alice-in-wonderland/Alice\ in\ Wonderland.ttf");
}

@font-face {
  font-family: BlackCastle;
  src: url("../public//fonts/black-castle-mf-font/Blackcastlemf-BG5n.ttf");
}

@font-face {
  font-family: DevinneSwash;
  src: url("../public//fonts/devinne-swash-font/DevinneSwash-qZd5.ttf");
}

@font-face {
  font-family: Endor;
  src: url("../public//fonts/endor/ENDOR___.ttf");
}

@font-face {
  font-family: FairyDust;
  src: url("../public//fonts/fairydustb/FairyDustB.ttf");
}

@font-face {
  font-family: FantArt;
  src: url("../public/fonts/fantaisieartistique/FantaisieArtistique.ttf");
}

@font-face {
  font-family: Ferrum;
  src: url("../public/fonts/ferrum/ferrum.otf");
}

@font-face {
  font-family: Potra;
  src: url("../public/fonts/potra/Potra.ttf");
}

@font-face {
  font-family: Rediviva;
  src: url("../public/fonts/rediviva/Rediviva.ttf");
}

@font-face {
  font-family: SpaceAst;
  src: url("../public/fonts/space-and-astronomy-font/SpaceAndAstronomy-pZRD.ttf");
}

@font-face {
  font-family: Trickster;
  src: url("../public/fonts/trickster/Trickster-master/fonts/Trickster-Reg.ttf");
}

@font-face {
  font-family: Vinque;
  src: url("../public/fonts/vinque/vinque\ rg.otf");
}

@font-face {
  font-family: Zelda;
  src: url("../public/fonts/the-wild-breath-of-zelda-font/TheWildBreathOfZelda-15Lv.ttf");
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  min-width: 100vw;

  .App-header {
    background-color: black;
    color: whitesmoke;
    padding: 0.5em;
    min-width: 100vw;
    h1 {
      font-family: AliceInWonderland;
    }
  }

  .App-body {
    div {
      h2 {
        font-family: DevinneSwash;
      }
    }
  }
}
